<!DOCTYPE html>
<html lang="en">
<head>
    <title>My Webpage</title>
</head>
<body>
    <p>CSV Converter</p>
  <form enctype="multipart/form-data" method="post" action="/upload">
      {% if error != None %}
     <p style="color: red;"> {{error}} </p> 
      {%   endif %}
      <label for="file">Please insert the csv file  here</label>
      <input type="file" id="file" name="file">
      <br>
      <label for="submit"> Submit</label>
      <input type="submit" id="submit">
  </form>
</body>
</html>